footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  height: 400px;
  position: relative;
  #footer__left {
    top: 0;
    left: 0;
    position: absolute;
  }
  #footer__right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    position: absolute;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
      ul {
        display: flex;
        gap: 10px;
        li {
          a {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
    }
  }
}
