@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-10px);
  }
}
@keyframes moveTop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes spineer {
  from {
    box-shadow: 0 0 0 0 rgba(255, 161, 34, 0.99);
  }
  to {
    box-shadow: 0 0 0 45px rgba(255, 161, 34, 0.01);
  }
}
