$primary-color: #3f396d;
$secondary-color: #07003b;
$accent: #fca61f;
$text-color: #9692b0;
$off-white-color: #f0f4ff;
$light-purple-color: #6f34fe;
$white-color: #fff;
$light-grey-color: #f2f2ff;
$footer-color: #211e39;
$border-color: rgb(56, 53, 77);
