@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap");
html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Josefin Sans";
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes moveTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
#hero {
  position: relative;
  background: linear-gradient(33deg, rgb(242, 242, 255) 0%, rgb(235, 249, 255) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero__container .hero__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#hero .hero__container .hero__left .hero__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#hero .hero__container .hero__left .hero__title h1 {
  color: #3f396d;
  font-size: 2.625rem;
  font-weight: 600;
}
#hero .hero__container .hero__left .hero__title span {
  color: #6f34fe;
  font-weight: 800;
  font-size: 4.625rem;
}
#hero .hero__container .hero__left p {
  font-size: 1.2rem;
}
#hero .hero__container .hero__left .hero__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
#hero .hero__container .hero__left .hero__buttons a {
  text-decoration: none;
  color: #3f396d;
  font-size: 1.2rem;
  position: relative;
  transition: 0.4s;
}
#hero .hero__container .hero__left .hero__buttons a::after, #hero .hero__container .hero__left .hero__buttons a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3f396d;
  transition: 0.4s;
}
#hero .hero__container .hero__left .hero__buttons a::after {
  width: 0;
}
#hero .hero__container .hero__left .hero__buttons a:hover {
  color: #fca61f;
}
#hero .hero__container .hero__left .hero__buttons a:hover::after {
  width: 100%;
  background-color: #fca61f;
}
#hero .hero__container .hero__right {
  position: relative;
  display: flex;
  align-items: end;
}
#hero .hero__container .hero__right #blue-cat {
  animation: moveRight 1s ease-in-out infinite alternate;
}
#hero .hero__container .hero__right #curn-icon {
  top: 25%;
  left: 0;
  position: absolute;
  animation: moveTop 1s ease-in-out infinite alternate;
}
#hero .hero__container .hero__right #triangle-icon {
  position: absolute;
  bottom: 6px;
  right: -12px;
  animation: moveTop 3s ease-in-out infinite alternate;
}

.hero__socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#services {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#services #circle-bg-left {
  position: absolute;
  height: 127px;
  top: 207px;
  left: 0;
  animation: moveRight 1s ease-in-out infinite alternate;
}
#services #half-circle-left {
  height: 42px;
  top: 170px;
  left: 13px;
  position: absolute;
  animation: moveTop 1s ease-in-out infinite alternate;
}
#services #corn-left-icon {
  position: absolute;
  animation: moveTop 2s ease-in-out infinite alternate;
  bottom: 250px;
  right: 25px;
}
#services .services__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  gap: 20px;
}
#services .services__container .services__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#services .services__container .services__top h4 {
  color: #6f34fe;
  font-weight: 600;
  font-size: 1.375rem;
}
#services .services__container .services__top h1 {
  color: #3f396d;
  font-weight: 700;
  font-size: 2.625rem;
  text-align: center;
  line-height: 1.3;
}
#services .services__container .services__bottom {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.services__card {
  width: 540px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.4s;
  border: 1px solid transparent;
}
.services__card .services__card-logo {
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f2f2ff;
  padding: 30px;
}
.services__card .services__card-logo img {
  transition: 0.4s;
}
.services__card .services__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__card .services__card-content h1 {
  color: #3f396d;
  font-weight: 700;
  font-size: 1.375rem;
}
.services__card .services__card-content p {
  color: #9692b0;
}
.services__card .services__card-content span {
  width: -moz-fit-content;
  width: fit-content;
  color: #fca61f;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.services__card .services__card-content span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  background-color: #3f396d;
  width: 0%;
  transition: 0.4s;
}
.services__card .services__card-content span:hover {
  color: #3f396d;
}
.services__card .services__card-content span:hover::after {
  width: 100%;
}
.services__card:hover {
  transform: rotate(-1deg);
  border: 1px solid #6f34fe;
}
.services__card:hover .services__card-logo img {
  transform: translateY(-5px);
}

.portfolio__card {
  width: 320px;
  height: 320px;
  position: relative;
  border-radius: 16px;
}
.portfolio__card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  height: 100%;
}
.portfolio__card:hover .portfolio__card-content {
  visibility: visible;
  opacity: 1;
}
.portfolio__card .portfolio__card-content {
  background-color: rgba(255, 255, 255, 0.195);
  border-radius: 16px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: end;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.portfolio__card .portfolio__card-content .portfolio__card-left h1 {
  font-size: 2rem;
  font-weight: 700;
}

#portfolio {
  padding: 40px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 544px;
  background-color: #6f34fe;
}
#portfolio #portfolio-right,
#portfolio #portfolio-left,
#portfolio #corn-left {
  position: absolute;
  z-index: 1;
}
#portfolio #portfolio-left {
  height: 244px;
  top: 0;
  left: 0;
}
#portfolio #portfolio-right {
  height: 244px;
  bottom: 0;
  right: 0;
}
#portfolio #corn-left {
  top: 470px;
  right: 116px;
  animation: moveTop 1s ease-in-out infinite alternate;
}
#portfolio .portfolio__container {
  min-height: 544px;
  z-index: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#portfolio .portfolio__container .portfolio__top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: #fff;
}
#portfolio .portfolio__container .portfolio__top h1 {
  font-size: 2.625rem;
  font-weight: 700;
}
#portfolio .portfolio__container .portfolio__top h2 {
  font-weight: 600;
  font-size: 1.375rem;
}
#portfolio .portfolio__container .portfolio__bottom {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav ul {
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav ul .active-nav {
  color: #fca61f;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav ul .active-nav::after {
  width: 100%;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav ul li {
  cursor: pointer;
  margin: 0 25px;
  position: relative;
  transition: 0.4s;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: #fca61f;
  height: 3px;
  width: 0%;
  transition: 0.4s;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav ul li:hover {
  color: #fca61f;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__nav ul li:hover::after {
  width: 100%;
}
#portfolio .portfolio__container .portfolio__bottom .portfolio__projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
#portfolio .portfolio__container .portfolio__bottom .MuiPagination-ul {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__container .header__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .header__container .header__logo a img {
  width: 100px;
}
header .header__container .header__logo a p {
  font-size: 1.5rem;
  color: #3f396d;
}
header .header__container nav {
  display: flex;
}
header .header__container nav ul {
  align-items: center;
  display: flex;
  gap: 10px;
}
header .header__container nav ul li {
  padding: 0 10px;
}
header .header__container nav ul li a {
  text-decoration: none;
  transition: 0.4s;
  color: #3f396d;
  font-weight: 600;
}
header .header__container nav ul li a:hover {
  color: #fca61f;
}

footer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #211e39;
  min-height: 400px;
  position: relative;
}
footer #footer__left {
  top: 0;
  left: 0;
  position: absolute;
}
footer #footer__right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  position: absolute;
}
footer .footer__container {
  z-index: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer .footer__container .footer__logo img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer__container nav ul {
  display: flex;
}
footer .footer__container nav ul li {
  padding: 0 20px;
  border-right: 1px solid rgb(56, 53, 77);
}
footer .footer__container nav ul li:last-child {
  border-right: none;
}
footer .footer__container nav ul li a {
  transition: 0.4s;
  text-decoration: none;
  color: #9692b0;
  position: relative;
}
footer .footer__container nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: #fca61f;
  width: 0;
  transition: 0.4s;
}
footer .footer__container nav ul li:hover a {
  color: #fca61f;
}
footer .footer__container nav ul li:hover a::before {
  width: 100%;
}
footer .footer__container .footer__socials {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
footer .footer__container .footer__description {
  margin-top: 20px;
  width: 90%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(56, 53, 77);
  color: #9692b0;
}