@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Josefin Sans";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__container .header__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .header__container .header__logo a img {
  width: 100px;
}
header .header__container .header__logo a p {
  font-size: 1.5rem;
  color: #3f396d;
}
header .header__container nav {
  display: flex;
}
header .header__container nav ul {
  align-items: center;
  display: flex;
  gap: 10px;
}
header .header__container nav ul li {
  padding: 0 10px;
}
header .header__container nav ul li a {
  text-decoration: none;
  transition: 0.4s;
  color: #3f396d;
  font-weight: 600;
}
header .header__container nav ul li a:hover {
  color: #fca61f;
}

footer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #211e39;
  min-height: 400px;
  position: relative;
}
footer #footer__left {
  top: 0;
  left: 0;
  position: absolute;
}
footer #footer__right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  position: absolute;
}
footer .footer__container {
  z-index: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer .footer__container .footer__logo img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer__container nav ul {
  display: flex;
}
footer .footer__container nav ul li {
  padding: 0 20px;
  border-right: 1px solid rgb(56, 53, 77);
}
footer .footer__container nav ul li:last-child {
  border-right: none;
}
footer .footer__container nav ul li a {
  transition: 0.4s;
  text-decoration: none;
  color: #9692b0;
  position: relative;
}
footer .footer__container nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: #fca61f;
  width: 0;
  transition: 0.4s;
}
footer .footer__container nav ul li:hover a {
  color: #fca61f;
}
footer .footer__container nav ul li:hover a::before {
  width: 100%;
}
footer .footer__container .footer__socials {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
footer .footer__container .footer__description {
  margin-top: 20px;
  width: 90%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(56, 53, 77);
  color: #9692b0;
}